<%- include('../partials/head') %>

<div class="jumbotron bg-white">
    <div class="container">
        <h1 class="display-3">Register:</h1>
        <p class="lead">Please enter your details</p>
        <hr class="my-2">
    </div>
</div>


<div class="container" >

    <form action="/register" method="post">
        <div class="form-group d-flex flex-column justify-content-between border border-secondary rounded-lg p-5  bg-white" style="max-width: 500px; margin: auto;">
            <input type="text" name="username" class="form-control" placeholder="Username" >
            <small id="helpId" class="text-muted mb-2">Enter username</small>

            <input type="password" name="password" class="form-control" placeholder="Password" >
            <small id="helpId" class="text-muted mb-2">Enter Password</small>
                        
            <button type="submit" class="btn btn-primary">Submit</button>            
        </div>
    </form>

</div>


<%- include('../partials/tail') %>