<%- include('partials/head') %>

<link rel="stylesheet" href="/home.css">


<div class="container d-flex flex-column justify-content-center align-items-center" style="padding-top: 15%;">
    <h1 class="display-1" style="color: white;">Get Started</h1>
    <a href="/blogs" class="btn btn-outline-light btn-lg px-5"><strong>blogs > </strong></a>
</div>


<%- include('partials/tail') %>